<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common :: head(~{::title})">
    <title>archive</title>
    <link th:include="common :: commonheader">
</head>
<body>
<!--头部内容-->
<div th:replace="common :: navheader(4)"></div>

<!--中间内容-->
<div class="m-padded-tb-lager m-container">
    <div class="container">
        <!--header-->
        <div class="card border-muted shadow-lg mb-3 mt-5">
            <div class="card-header">
                <div class="row px-1">
                    <div class="col-10">
                        <h3 class="text-info m-text-thin"><i class="bi bi-box-seam">归档</i></h3>
                    </div>

                    <div class="col-2 text-center">
                        <i class="bi bi-file-earmark-text text-secondary"></i><h3 class="text-secondary m-inline-block m-text-thin">14</h3><i class="text-secondary">页博客</i>
                    </div>
                </div>
            </div>
        </div>

        <!--content-->
        <div class="text-center mt-5 py-2">
            <h2 class="text-muted"><i class="bi bi-calendar-event">&nbsp;2018</i></h2>
        </div>
        <div class="card bg-light mb-3 ">
            <ul class="list-group list-group-flush">
                <a href="#">
                    <li class="list-group-item list-group-item-action d-flex justify-content-sm-between border-bottom">
                        <div class="d-flex">
                            <span class="text-secondary m-text-thin">
                                练习清单
                            </span>
                            <span>&nbsp;&nbsp;&nbsp;</span>
                            <button class="btn btn-outline-info m-padded-mini pl-5">12月01</button>
                        </div>
                        <span class="badge badge-info">转载</span>
                    </li>
                </a>
                <a href="#">
                    <li class="list-group-item list-group-item-action d-flex justify-content-sm-between border-bottom">
                        <div class="d-flex">
                            <span class="text-secondary m-text-thin">
                                失败经历
                            </span>
                            <span>&nbsp;&nbsp;&nbsp;</span>
                            <button class="btn btn-outline-info m-padded-mini pl-5">12月02</button>
                        </div>
                        <span class="badge badge-info">自述</span>
                    </li>
                </a>
                <a href="#">
                    <li class="list-group-item list-group-item-action d-flex justify-content-sm-between border-bottom">
                        <div class="d-flex">
                            <span class="text-secondary m-text-thin">
                                清单
                            </span>
                            <span>&nbsp;&nbsp;&nbsp;</span>
                            <button class="btn btn-outline-info m-padded-mini pl-5">11月03</button>
                        </div>
                        <span class="badge badge-info">原创</span>
                    </li>
                </a>
                <a href="#">
                    <li class="list-group-item list-group-item-action d-flex justify-content-sm-between border-bottom">
                        <div class="d-flex">
                            <span class="text-secondary m-text-thin">
                                你理解什么是财富？
                            </span>
                            <span>&nbsp;&nbsp;&nbsp;</span>
                            <button class="btn btn-outline-info m-padded-mini pl-5">11月05</button>
                        </div>
                    <span class="badge badge-info">翻译</span>
                    </li>
                </a>
            </ul>
        </div>

        <div class="text-center mt-5 py-2">
            <h2 class="text-muted"><i class="bi bi-calendar-event">&nbsp;2019</i></h2>
        </div>
        <div class="card bg-light mb-3 ">
            <ul class="list-group list-group-flush">
                <a href="#">
                    <li class="list-group-item list-group-item-action d-flex justify-content-sm-between border-bottom">
                        <div class="d-flex">
                            <span class="text-secondary m-text-thin">
                                练习清单
                            </span>
                            <span>&nbsp;&nbsp;&nbsp;</span>
                            <button class="btn btn-outline-info m-padded-mini pl-5">12月01</button>
                        </div>
                        <span class="badge badge-info">转载</span>
                    </li>
                </a>
                <a href="#">
                    <li class="list-group-item list-group-item-action d-flex justify-content-sm-between border-bottom">
                        <div class="d-flex">
                            <span class="text-secondary m-text-thin">
                                失败经历
                            </span>
                            <span>&nbsp;&nbsp;&nbsp;</span>
                            <button class="btn btn-outline-info m-padded-mini pl-5">12月02</button>
                        </div>
                        <span class="badge badge-info">自述</span>
                    </li>
                </a>
                <a href="#">
                    <li class="list-group-item list-group-item-action d-flex justify-content-sm-between border-bottom">
                        <div class="d-flex">
                            <span class="text-secondary m-text-thin">
                                清单
                            </span>
                            <span>&nbsp;&nbsp;&nbsp;</span>
                            <button class="btn btn-outline-info m-padded-mini pl-5">11月03</button>
                        </div>
                        <span class="badge badge-info">原创</span>
                    </li>
                </a>
                <a href="#">
                    <li class="list-group-item list-group-item-action d-flex justify-content-sm-between border-bottom">
                        <div class="d-flex">
                            <span class="text-secondary m-text-thin">
                                你理解什么是财富？
                            </span>
                            <span>&nbsp;&nbsp;&nbsp;</span>
                            <button class="btn btn-outline-info m-padded-mini pl-5">11月05</button>
                        </div>
                        <span class="badge badge-info">翻译</span>
                    </li>
                </a>
            </ul>
        </div>

        <div class="text-center mt-5 py-2">
            <h2 class="text-muted"><i class="bi bi-calendar-event">&nbsp;2020</i></h2>
        </div>
        <div class="card bg-light mb-3 ">
            <ul class="list-group list-group-flush">
                <a href="#">
                    <li class="list-group-item list-group-item-action d-flex justify-content-sm-between border-bottom">
                        <div class="d-flex">
                            <span class="text-secondary m-text-thin">
                                练习清单
                            </span>
                            <span>&nbsp;&nbsp;&nbsp;</span>
                            <button class="btn btn-outline-info m-padded-mini pl-5">12月01</button>
                        </div>
                        <span class="badge badge-info">转载</span>
                    </li>
                </a>
                <a href="#">
                    <li class="list-group-item list-group-item-action d-flex justify-content-sm-between border-bottom">
                        <div class="d-flex">
                            <span class="text-secondary m-text-thin">
                                失败经历
                            </span>
                            <span>&nbsp;&nbsp;&nbsp;</span>
                            <button class="btn btn-outline-info m-padded-mini pl-5">12月02</button>
                        </div>
                        <span class="badge badge-info">自述</span>
                    </li>
                </a>
                <a href="#">
                    <li class="list-group-item list-group-item-action d-flex justify-content-sm-between border-bottom">
                        <div class="d-flex">
                            <span class="text-secondary m-text-thin">
                                清单
                            </span>
                            <span>&nbsp;&nbsp;&nbsp;</span>
                            <button class="btn btn-outline-info m-padded-mini pl-5">11月03</button>
                        </div>
                        <span class="badge badge-info">原创</span>
                    </li>
                </a>
                <a href="#">
                    <li class="list-group-item list-group-item-action d-flex justify-content-sm-between border-bottom">
                        <div class="d-flex">
                            <span class="text-secondary m-text-thin">
                                你理解什么是财富？
                            </span>
                            <span>&nbsp;&nbsp;&nbsp;</span>
                            <button class="btn btn-outline-info m-padded-mini pl-5">11月05</button>
                        </div>
                        <span class="badge badge-info">翻译</span>
                    </li>
                </a>
            </ul>
        </div>

        <div class="text-center mt-5 py-2">
            <h2 class="text-muted"><i class="bi bi-calendar-event">&nbsp;2021</i></h2>
        </div>
        <div class="card bg-light mb-3 ">
            <ul class="list-group list-group-flush">
                <a href="#">
                    <li class="list-group-item list-group-item-action d-flex justify-content-sm-between border-bottom">
                        <div class="d-flex">
                            <span class="text-secondary m-text-thin">
                                练习清单
                            </span>
                            <span>&nbsp;&nbsp;&nbsp;</span>
                            <button class="btn btn-outline-info m-padded-mini pl-5">12月01</button>
                        </div>
                        <span class="badge badge-info">转载</span>
                    </li>
                </a>
                <a href="#">
                    <li class="list-group-item list-group-item-action d-flex justify-content-sm-between border-bottom">
                        <div class="d-flex">
                            <span class="text-secondary m-text-thin">
                                失败经历
                            </span>
                            <span>&nbsp;&nbsp;&nbsp;</span>
                            <button class="btn btn-outline-info m-padded-mini pl-5">12月02</button>
                        </div>
                        <span class="badge badge-info">自述</span>
                    </li>
                </a>
                <a href="#">
                    <li class="list-group-item list-group-item-action d-flex justify-content-sm-between border-bottom">
                        <div class="d-flex">
                            <span class="text-secondary m-text-thin">
                                清单
                            </span>
                            <span>&nbsp;&nbsp;&nbsp;</span>
                            <button class="btn btn-outline-info m-padded-mini pl-5">11月03</button>
                        </div>
                        <span class="badge badge-info">原创</span>
                    </li>
                </a>
                <a href="#">
                    <li class="list-group-item list-group-item-action d-flex justify-content-sm-between border-bottom">
                        <div class="d-flex">
                            <span class="text-secondary m-text-thin">
                                你理解什么是财富？
                            </span>
                            <span>&nbsp;&nbsp;&nbsp;</span>
                            <button class="btn btn-outline-info m-padded-mini pl-5">11月05</button>
                        </div>
                        <span class="badge badge-info">翻译</span>
                    </li>
                </a>
            </ul>
        </div>
    </div>
</div>

<!--底部footer-->
<div th:replace="common :: footer"></div>
</body>
</html>