<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common :: head(~{::title})">
    <meta charset="UTF-8">
    <title>Login</title>
    <link th:include="common :: commonheader">
</head>
<body class="container">

<form action="#" th:action="@{/login}" method="post">
    <div class="card text-center w-50" style="margin-left: 300px; margin-top: 150px">
        <div class="card-body">
            <img src="/static/images/student03.png" th:src="@{/images/student03.png}" alt="">
            <div class="form-group">
                <input type="text" class="form-control w-50 my-3" name="username" id="username" style="margin-left: 130px;" placeholder="Username">
            </div>
            <div class="form-group">
                <input type="password" class="form-control w-50" name="password" id="password" style="margin-left: 130px;" placeholder="Password">
            </div>
            <span class="text-danger" th:text="${message}"></span>
        </div>
        <div class=" text-muted">
            <button type="submit" class="btn btn-info w-25">Login</button>
        </div>
    </div>



</form>
</body>
</html>