<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.auth.dao.CommentMapper">
  <resultMap id="BaseResultMap" type="com.company.project.auth.model.Comment">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="create_time" jdbcType="DATE" property="createTime" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
  </resultMap>
</mapper>